<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>workin - המרכז ללימודי קוד וסייבר | Pure Advanced Hacking </title>

    <link rel="icon" href="img/core-img/favicon.png">

    <link rel="stylesheet" href="style.css?v=3">
    <link rel="stylesheet" href="css/skin.css">

</head>

<body class="rtl">
    <div id="preloader">
        <div class="apland-load"></div>
    </div>

    <header class="header_area">
        <div class="main_header_area animated">
            <div class="container h-100">
                <nav class="navbar h-100 navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="aplandmenu">
                        <ul class="navbar-nav ml-auto" id="corenav">
                        </ul>
                    </div>
                    <a class="navbar-brand" href="http://cyber.workin.co.il/">
                        <img src="img/core-img/logo-web.svg" alt="" class="img-logo">
                    </a>
                </nav>
            </div>
        </div>
    </header>

    <section class="welcome_area bg-img" id="home" style="background-image: url(<%- course_data.welcome_img %>);" `>
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md-12">
                    <div class="welcome_text_area">
                        <%- course_data.welcome_text %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="using_benefits_area bg-gray section_padding_50_20" id="why">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="section_heading text-center" id="private_text">
                        <h3><%- full_name %></h3>
                        <p><%- details %></p></br>
                        <p><%- course_data.static_details%></p>
                    </div>
                </div>
                <div class="row">
                    <div id="box1" class="col-12 col-sm-6 col-lg-3">
                        <%- course_data.box1 %>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3" id="box2">
                        <%- course_data.box2 %>

                    </div>
                    <div id="box3" class="col-12 col-sm-6 col-lg-3">
                        <%- course_data.box3 %>

                    </div>
                    <div id="box4" class="col-12 col-sm-6 col-lg-3">
                        <%- course_data.box4 %>
                    </div>
                </div>
            </div>
        </div>

        <form class="form">
        </form>

        <section class="newsletter_area section_padding_50_20 bg-overlay bg-img jarallax"
            style="background-image: url(img/bg-img/newsletter4.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-12 height_0">
                        <div class="section_heading text-center">
                            <h3>אנא בחרו אחת מהאפשרויות :</h3>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <form class="form mt-50">
                        <div class="inputGroup">
                            <input id="radio1" name="radio" type="radio" value="1" ref="radio1" />
                            <label for="radio1">מעוניין לקבל פרטים נוספים, צרו איתי קשר</label>
                        </div>
                        <div class="inputGroup">
                            <input id="radio2" name="radio" type="radio" value="2" ref="radio2" />
                            <label for="radio2">אשמח לקבל כשיגיע המועד הבא</label>
                        </div>
                        <div class="inputGroup">
                            <input id="radio3" name="radio" type="radio" value="3" ref="radio3" />
                            <label for="radio3">הקורס כבר אינו רלוונטי עבורי</label>
                        </div>
                        <div class="single_work_step">
                            <button type="submit" class="apland-btn">שלח</button>
                        </div>
                    </form>
                </div>
                <div class="success-msg text-center">
                </div>
            </div>
    </div>
    </section>
    <!-- ***** צור קשר - בוא ללמוד קוד ולעבוד - END ***** -->

    <!-- ***** תוכנית המסלול Start ***** -->
    <div class="main_features_area bg-gray section_padding_50" id="what">
        <div class="no-container">
            <div class="row align-items-center">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section_heading_cyber text-center">
                        <h3><span class="xxx">תוכנית המסלול</span></h3>
                    </div>
                    <div id="plane_course" class="row">
                        <%- course_data.course_plan %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** תוכנית המסלול End ***** -->



    <!-- ***** Footer Area Start ***** -->
    <footer class="footer_area">
        <!-- Bottom Footer Area Start -->
        <div class="footer_bottom_area">
            <div class="container">
                <div class="col-12">
                    <div class="footer_social_area">
                        <a href="https://www.facebook.com/workincenter" data-toggle="tooltip" data-placement="top"
                            title="Facebook"><i class="fa fa-facebook"></i></a>
                        <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus"></i></a> -->
                        <a href="https://www.instagram.com/workin_cyber" data-toggle="tooltip" data-placement="top"
                            title="Instagram"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/school/workin-cyber-college/" data-toggle="tooltip"
                            data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a> -->
                    </div>
                    <!-- Footer Menu Area -->
                </div>
            </div>
        </div>
        <div class="footer_copywrite_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Footer Copwrite Area -->
                        <div class="footer_bottom text-center">
                            <p>Made with <i class="fa fa-heart"></i> by <a href="#">workin</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->
    </section>
    <!-- ***** Message Now Area End ***** -->



    <!-- ***** All jQuery Plugins ***** -->

    <!-- jQuery(necessary for all JavaScript plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/include-all-plugins.min.js"></script>
    <!-- Active js -->
    <script src="js/active-c.js?v=3"></script>

    <script src="js/index.js"></script>

    <% if (status_person!=0) { %>
    <script>
        document.querySelector(`input[type=radio][value='${<%= status_person %>}']`).checked = true
    </script>
    <% } %>
</body>

</html>